.hint{
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}



#input-area.collapsed {
    max-height: 0;
    opacity: 0;
}
#input-area.expanded {
    max-height: 500px;
    opacity: 1;
}